@import url('https://fonts.googleapis.com/css2?family=family=Splash&Barlow:wght@100;300;400;700&family=Croissant+One&family=Fondamento:ital@0;1&family=Germania+One&family=Mirza&family=Nova+Mono&family=Signika+Negative&family=Sirin+Stencil&family=Syne+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4  {
    text-align: center;
}

#background {
    background-color: #4d908e;
    height: 725px;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}  

.button-box  {
    text-align: center;
}

main section  {
    text-align: center;
}



body {
    color: #252422;
    background-color: #fff0f3;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ccc5b9;
}
nav a:hover {
    background-color: #ff4d6d;
    color: #353535;
}

.home-title {
    color: #353535;
    font-family: 'Splash', 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.logo {
    width: 80px;
}

.book:hover, .join:hover {
    background-color: #4d908e;
    color: #353535;
}

.msg {
    /* background-color: #252422; */
    background-color: #6F7364;
    color: #F1F3EC;
    line-height: 1.5em;
    padding: 35px;
    
}


.msg h2 {
    /* color: #353535; */
    color: #F1F3EC;
}

.msg p {
    /* color: #353535; */
    color: #F1F3EC;
    padding-bottom: 15px;
    font-size: .8em;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.book, .join {
    background-color: #d9c2a3;
    text-align: center;
    color: #fcfbfb;
    color: #353535;
    /* color: black; */
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 18px;
}    

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
    /* border: 10px solid black; */
}

footer {
    background-color: #4d908e;
    color: #353535;
    padding: 25px 50px;
    margin-top: 200px;
}

nav a {
    text-align: center;
    /* color: #353535; */
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
} 

h2 {
    margin: 0;
}


footer a:hover {
    color: #353535;
}


footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    /* color: #353535; */
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img  {
    padding-top: 15px;
}


main section img {
    box-sizing: border-box;
}