@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Mulish:wght@400;700&display=swap Links to an external site.');

/* REST OF PAGE  */
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
    font-size: 18px;
    text-align: center;
    /* background-color: #fff0f3; */
    /* background-color: rgba(49, 86, 89, .4); */
    /* background-color: rgba(179, 222, 193, 1); */

    /* border-color: red;
    border-radius: 2px;
    border-style: solid; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color:  #315659;
}


/* DUMMY BOX */
#dummybox {
    display: flex;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

#links{
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; /*I created three columns so that I have an empty space btwn logo and nav bars*/
    opacity: 80%;
    color: #B3DEC1;
    background-color: rgba(49, 86, 89, .6);
    border: 2px solid #315659;;
    border-radius: 10px;
    /* border-color: red;
    border-radius: 2px;
    border-style: solid; */
}

/* THIS IS FOR THE MAIN CONTENT */

#mainwrapper {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1200px;

    margin-top: 5px;
    padding: 1%;
   
    margin-top: 5px;
    padding: 1%;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    /* flex-direction: row; */


    border-color: red;
    border-radius: 2px;
    border-style: solid;
}

#maintextpoultry {
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    flex: 1 1;
    flex-direction: column; /*this is what actually made my items to stack one on top of the other*/
    justify-content: space-between;
    align-items: center;

    vertical-align: top;


}

#broilerbig {
    float: left;
    max-width: 600px;
    height: auto;
    padding-bottom: 15px;
}

#broilersmall {
    max-width: 600px;
    height: auto;
    padding-bottom: 15px;

}
#container1 {
    max-width: 600px;
}