@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Mulish:wght@400;700&display=swap Links to an external site.');

:root {
  --primary-color: #c5ffff;
  --secondary-color: #A78682;
  --accent1-color: #56203D;
  --accent2-color: #B3DEC1;
}

#content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
  font-size: 18px;
  text-align: center;
  background-color: rgba(179, 222, 193, 1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: #56203D;
}

h2 {
  text-align: center;
}

header {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 150px auto auto;
  opacity: 80%;
  color: #B3DEC1;
  background-color: #315659;
  border: 2px solid #315659;
  border-radius: 10px;
}

#id_logo {
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo1 {
  width: 90%;
  grid-column: 1/2;
  margin: auto;
  display: block;
  padding: 5px;
}

.logo2 {
  width: 90%;
  grid-column: 2/3;
  margin: auto;
  display: block;
  padding: 5px;
}

nav a {   
  text-align: center;
  text-decoration: none;
  padding: 35px;
  opacity: 1;
  color: #fcfbfb;
} 

nav a:hover {
  background-color: #56203D;
  color: #B3DEC1;
}

nav {
  grid-column: 3/4;
  display: flex;
  justify-content: space-around;
}

#hero-msg h1, #hero-msg h4  {
  text-align: center;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  border: 1px solid rgba(49, 86, 89, .2);
  border-radius: 10px;
  background-color: rgba(86, 32, 61, .5);
}

#hero-img {
  width: 100%;
  grid-column: 2/4;
  grid-row: 1/3;
}

#three_sections {
  opacity: 0.85;
  margin-top: 5px;
  display: flex;
  align-items: center;
  align-items: stretch;
  justify-content: center;
}

#container1, #container2, #container3 { 
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
}

#container1 {
  margin-left: 0;
  padding: 15px 0px 0px 0px;
}

#container2 {
  padding: 15px 15px 0px 15px;
}

#container3 {
  padding: 15
 0px 0px 0px;
    
    
}

#maintext1, #maintext2, #maintext3 {
    /* padding-right: 15px;
    padding-left: 15px; */
    text-align: left;
    background-color: #fcfbfb;
    position: relative;
    bottom: 0;
    /* width: 100%; */
    
    /* text-align: center; */
    /* padding: 10px; */
    /* padding: 0px 15px 15px 15px; */
    grid-row: 3;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto auto auto;
    border-color: #fcfbfb;
    border-radius: 2px;
    border-style: solid;
    /* border-top-width: 3vmax; */

    flex: 1 0 auto;
    /* padding: 20px; */
}

.farm1-img, .farm2-img, .farm3-img {
    display: block;
    max-width: 100%;
    max-height: 600px;
    grid-row: 2;
    justify-self: center;
    background-color: #fcfbfb;
    padding: 15px 15px 0px 15px;
    margin: auto auto 0 auto;
    /* border-color: #fcfbfb; */
    border-color: #56203D;
    border-radius: 2px;
    border-style: solid;
    border-bottom-width: 10px;
}


#container1 h2, #container2 h2, #container3 h2 {
    display: block;
    margin-top: 0;
    text-align: center;
    padding-left: 15px;
    /* background: white; */
    background-color: #fcfbfb;
    margin: 0 auto;
    padding: 5px;
    border-bottom-width: 4px;

    /* border-color: gold;
    border-radius: 2px;
    border-style: solid; */
    /* align-self: start; */
}

/* NUMBER 2 */

footer {
    background-color: #315659; /* #A78682; #4d908e;*/
    color: #fcfbfb;
    padding: 15px 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

  
    justify-content: space-between;
    font-size: 15px;

}

#hero-msg h1, #hero-msg h4  {
    text-align: center;
    /* color: #B3DEC1; */
    color: #fcfbfb;
    
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}




#background {
    background-color: #4d908e;
    height: 725px;
}

#hero-img {
    width: 100%;
    grid-column: 2/4;
    grid-row: 1/3;
   
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}  

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -25px; 
    
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    /* z-index: -1; */
}


#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    
    
}


#background {
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}




h2 {
    margin: 0;
}


footer a:hover {
    color: #353535;
}


footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    /* color: #353535; */
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img  {
    height: 50px;
    padding-top: 10px;
}


footer .logo  {
    height: 50px;
    width: auto;
    padding-top: 15px;
}

main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    
}

#logo_image {
    /* max-width: 1600px; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    opacity: .85;
    /* border-color: red;
    border-radius: 2px;
    border-style: solid; */

    /* display: flex;
    /* align-items: center; */
    align-items: stretch;
    justify-content: center;


    display: flex;
    flex-direction: column;
    align-items: center;
}

#moto {
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;

    position: relative;
    bottom: 0;
    width: 100%;
    
    text-align: center;
    /* padding: 10px; */
    text-align: center;
    grid-row: 1;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border-color: green;
    border-radius: 2px;
    border-style: solid; */

    flex: 1 0 auto;
    /* padding: 20px; */
}

.logo {
    display: block;
    max-width: 100%;
    max-height: 600px;
    grid-row: 2;
    justify-self: center;
    margin-bottom: 10px;
    padding: 15px;
}


/* NUMBER 3 */

body {
    color: #252422;
    font-family: Mulish, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}


.home-title {
    color: #353535;
    font-family: 'Merriweather', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}


.book {
    background-color: #315659;
    text-align: center;
    color: #fcfbfb;
    /* color: #353535; */
    /* color: black; */
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px 20px;
    font-size: 18px;
    border-width: 2px;
    border-color: #fcfbfb;
    /* border-radius: 5px 10px; */
    border-style: outset;
    border-top-color: #315659;
    border-right-color: #315659;
    border-left-color: #fcfbfb;
    border-bottom-color: #fcfbfb;

} 

.book:hover {
    background-color: #56203D;
    color: #B3DEC1;
}

#freeman {
    max-width:1000px;
}

ol > li::marker {
    font-weight: bold;
  }



  /* POULTRY CSS */

  #dummybox {
    display: flex;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    
}


#links{
  max-width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  color: #B3DEC1;
  background-color: rgba(49, 86, 89, .6);
  border: 1px solid rgba(49, 86, 89, .1);
  border-radius: 2px 15px;
  
}


/* THIS IS FOR THE MAIN CONTENT */

/* left image */

.home-title {
  font-family: 'Merriweather', sans-serif;
  height: 90%;
  padding-bottom: 0px;
  margin: 0;
}

#poultry_three_sections {
  background-color: #B3DEC1;
  padding: 2.5px;
  margin: auto;
  /* border-color: red;
  border-radius: 2px;
  border-style: solid; */
}

#titleimage {
  float: left;
  max-width: 600px;
  height: auto;
  padding: 15px;
}

#broilerbig {
  float: left;
  max-width: 600px;
  height: auto;
  padding: 15px;
}

#broilersmall {
  float: left;
  max-width: 600px;
  height: auto;
  padding: 15px;
}

#topictext {
  text-align: right;
  margin-right: 300px;
  padding-right: 500px;

}


/* FORMATING LISTS AND TEXT */
.listitems, .numbereditems {
  font-size: 95%;
  text-indent: 10px;
  margin-left: 40px;
  padding-left: 0;
}
.listitems li {
  margin-bottom: 5px;
  
  
}

.numbereditems li {
  color:  #315659;
  font-weight: bolder;
  font-style: italic;
}

.bolded { 
  font-weight: bold; 
}

body {
  counter-reset: section;      
}


/* CROPS CSS */

/* SETTING UP THE THREE DIVs FOR THE MAIN CONTENT */

#crop_three_sections {
  display: grid;
  grid-template-columns: 2fr 10fr 3fr;
  background-color: #fcfbfb;

  /* border-color: gold;
  border-radius: 2px;
  border-style: solid; */
  align-self: start;
 
}

#crop_container1, #crop_container3, #leftcontent {
  text-align: center;
  position: relative;
  margin: 0 auto;
  text-align: left;
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 10px;
  /* background-color: #fcfbfb; */
  background-color: rgba(86, 32, 61, .1);
  /* border-color: blue;
  border-radius: 2px;
  border-style: solid; */
}


#crop_container2 {
  text-align: center;
  position: relative;
  margin: 0 auto;
  text-align: left;
  display: grid;
  /* background-color: #fcfbfb; */
  background-color: rgba(86, 32, 61, .1);
  /* vertical-align: top; */

  /* border-color: red;
  border-radius: 2px;
  border-style: solid; */
}

.farming2 {
  width: 100%;
  grid-column: 1/4;
  grid-row: 1/3;
 
}


.farming3 {
  float: right;
  max-width: 70%;
  height: auto;
  padding: 15px;
  justify-content: flex-end;
}

#advert {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: auto; 

  /* border-color: red;
  border-radius: 2px;
  border-style: solid; */
  
}


#advert-msg h2, #advert-msg h6  {
  text-align: left;
  /* color: #B3DEC1; */
  color: #fcfbfb;

  /* border-color: red;
  border-radius: 2px;
  border-style: solid; */
  
}

#advert-msg h6  {
  font-weight: 300;
}

#advert-msg {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-top: 100px;
  padding-left: 15px;
}

#hero-img {
  width: 100%;
  grid-column: 2/4;
  grid-row: 1/3;
 
}

#planttrees, #didyouknowbox, #schools, #sobhuku {
  border-color: rgba(49, 86, 89, .7);
  border-radius: 2px;
  border-style: solid;
}

#planttrees,  #schools {
  grid-row: 1/2;
  padding: 15px 0 15px 0;
  

}



.seedling {
  max-width: 100%;
  height: auto;
  
}


#didyouknowbox, #sobhuku {
  grid-row: 3/4;
  

}

/* FORMATING LISTS AND TEXT */
.listitems, .numbereditems {
  font-size: 95%;
  text-indent: 10px;
  margin-left: 40px;
  padding-left: 0;
}
.listitems li {
  margin-bottom: 5px;
  
  
}

.numbereditems li {
  color:  #315659;
  font-weight: bolder;
  font-style: italic;
}

.bolded { 
  font-weight: bold; 
}

.home-title {
  font-family: 'Merriweather', sans-serif;
  height: 90%;
  padding-bottom: 0px;
  margin: 0;
}

.small-title {
  font-family: 'Merriweather', sans-serif;
  height: 50%;
  padding-bottom: 0px;
  margin: 0;
}