@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Mulish:wght@400;700&display=swap Links to an external site.');


body {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    background-color: rgba(179, 222, 193, 1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color:  #315659;
}

#dummybox {
    display: flex;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    
}

#links{
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; /*I created three columns so that I have an empty space btwn logo and nav bars*/
    opacity: 80%;
    color: #B3DEC1;
    background-color: rgba(49, 86, 89, .6);
    border: 2px solid #315659;;
    border-radius: 10px;
    
}

/* THIS IS FOR THE MAIN CONTENT */

/* left image */

.home-title {
    font-family: 'Merriweather', sans-serif;
    height: 90%;
    padding-bottom: -15px;
    margin: 0;
}

#three_sections {
    background-color: #B3DEC1;
    padding: 2.5px;
    margin: auto;
    /* border-color: red;
    border-radius: 2px;
    border-style: solid; */
}

#titleimage {
    float: left;
    max-width: 600px;
    height: auto;
    padding: 15px;
  }

#broilerbig {
    float: left;
    max-width: 600px;
    height: auto;
    padding: 15px;
}

#broilersmall {
    float: left;
    max-width: 600px;
    height: auto;
    padding: 15px;
}

#topictext {
    text-align: rigt;
    margin-right: 300px;
    padding-right: 500px;

}


/* FORMATING LISTS AND TEXT */
.listitems, .numbereditems {
    font-size: 95%;
    text-indent: 10px;
    margin-left: 40px;
    padding-left: 0;
}
.listitems li {
    margin-bottom: 5px;
    
    
}

.numbereditems li {
    color:  #315659;
    font-weight: bolder;
    font-style: italic;
}

.bolded { 
    font-weight: bold; 
}
